@use 'variables';

.intro {
  align-items: center;
  justify-content: center;

  img {
    width: 75%;
    height: auto;
  }
}

.art {
  position: relative;
  overflow: hidden;
  display: flex;
  padding-left: 4rem;
  height: 150vh;
  background-color: variables.$white;
  z-index: -100;

  img {
    position: absolute;
    top: 0;
    left: -200px;
    z-index: -10;
    height: 100%;
    width: auto;
  }

  .content {
    color: variables.$white;
    mix-blend-mode: difference;
    background-color: variables.$black;
    padding: 1rem;
    border-radius: 10px;
  }
}

.books {
  flex-direction: row;
  align-items: center;
  overscroll-behavior: none;
  width: 700%;
  flex-wrap: nowrap;

  .panel {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 992px) {
  .intro,
  .art,
  .books {
    min-height: 100vh;
  }

  .intro {
    flex-direction: row;

img {
    width: 30%;
    height: auto;
  }

    .content {
      width: 37%;
      margin: 0;
    }
  }

  .art {
    padding-left: 4rem;
    height: 100vh;

    img {
      position: absolute;
      top: 0;
      left: -125px;
      z-index: -10;
      width: 120%;
      height: auto;
    }

    .content {
      width: 50%;
    }
  }

  .books {
    .panel {
      flex-direction: row;
    }
    .content {
      width: 37%;
    }
  }
}
