@use 'variables';

.header {
  h1 {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  &::after {
    content: '♡';
    padding-top: 1rem;
  }
}

.postItem {
  margin-bottom: 3rem;
}

.postTitle {
  margin-bottom: 0.5rem;
}

.button {
  padding: 0.5rem;
  color: variables.$white;
  border: none;
  border-radius: 5px;
  background-color: variables.$black;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: variables.$white;
    color: variables.$black;
    border: variables.$black 1px solid;
  }
}

.meta {
  font-size: 0.85rem;
  margin: 0;
}

.tag {
  margin: 0 0.25rem;
}
