@use 'variables';

.loading-screen {
  height: 100vh;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;

  .panel {
    height: 100%;
    width: 50vw;
    background-color: variables.$black;
  }

  .left {
    border-right: 1px solid variables.$white;
  }

  .right {
    border-left: 1px solid variables.$white;
  }

  .img {
    position: absolute;
    height: 150px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
    top: 50%;
    margin-top: -75px;
    background-color: variables.$white;
  }
}
