@import 'variables';

.hero {
  height: 75vh;
  text-align: center;
  justify-content: center;

  p {
    position: absolute;
    bottom: 64px;
  }
}

.intro {
  background-color: $gray;
  color: $white;

  h1 {
    font-size: 72px;
  }
}
