@import 'variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  color: $black;
  background-color: $white;
}

section {
  background-color: $white;
  height: 100vh;
  padding: 0 12px 0 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 75px;

  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}

.footer {
  height: fit-content;
  text-align: center;
}
